#login2{
	position: relative;
	z-index: 2;
	width: 600px;
	height: 450px;
	background: #fff;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -225px;

}
.login2-header{
	height: 158px;
	background: #0d6fc5;
	position: relative;
}
.login2-header .hh1{
	position: absolute;
	top: 35px;
	left:50%;
	margin-left: -180px;
	z-index: 2;
/*	top: 35px;
	left: 50px;*/
}
.login2-header .hh2{
	position: absolute;

	top: -1px;
	left: -1px;
}
.login2-header .slogan{
	position: absolute;
	width: 100%;
	bottom: 23px;
	/*right: 268px;*/
	color: #fff;
	font-size: 17px;
	letter-spacing: 2px;
	z-index: 2;
	text-align: center;

}
.login2-con{
	width: 100%;
	height: 198px;
}
.login2-con form{
	width: 435px;
	height: 198px;
	margin: 46px auto 0;
	/*background: red;*/
}
.number-key{
	width: 228px;
}
.number-key input{
	width: 66px;
	height: 43px;
	border: 1px solid #cccccc;
	text-align: center;
	line-height: 43px;
	color: #0d6fc5;
	font-size: 15px;
	border-radius: 4px;
	outline: none;
	margin-left: 8px;
	margin-bottom: 6px;
	/*padding: 0;*/
	/*margin: 0;*/
	float: left;
	cursor: pointer;
	font-weight: bold;
}
.number-key input.back{
	background: #b1defd;
	color: #fff;
	border: 1px solid #b1defd;
	font-weight: normal;
}
.number-key input.blk{
	background: #b1defd;
	color: #fff;
	border: 1px solid #b1defd;
	font-weight: normal;
}
.lgn2{
	width: 172px;
	margin-top: 4px;
}
.user2,.psd2{
	width: 172px;
	height: 38px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin-bottom: 16px;
	color: #ccc;
	text-indent: 34px;
}
.user2{
	background: url(../images/user2.png) no-repeat 8px 10px;
}
.psd2{
	background: url(../images/lock.png) no-repeat 10px 10px;
}
.login2{
	width: 172px;
	height: 38px;
	background: #0d6fc5;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border-radius: 4px;
	margin-top: 44px;	
}
#login2 p.copyright{
	width: 600px;
	height: 30px;
	margin-top: 10px;
	display: block;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	color: #ccc;
}
.foucusInput{
	border: 1px solid #0d6fc5;
}
.hh3{
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
}
.hh3 .small{
	display: inline-block;
	width: 20px;
	height: 20px;
}
.hh3 .close{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}