.list .lc{	
	width: 750px;
	display: block;
	height:auto;
	margin-bottom: 36px;
	/*background: red;*/
	/*position: relative;*/
	 /**zoom:1;*/
}
/*.list .lc:after,.area:after,.dht:after{ content:" "; display:block; height:0; clear:both; visibility:hidden; font-size:0;}*/
.dht{
	width: 750px;
	height: auto;
	margin: 0 auto 0;
	position: relative;
	left: 16px;
	top: 0px;
	/*overflow: hidden;*/
	/*overflow-y: auto;*/
	/**zoom:1;*/
	/*position: relative;*/
}
.area{
	height: auto;
	position: relative;
	/**zoom:1;*/
}

.area div{
	height: 36px;
	line-height: 36px;
	width: 150px;
	background: #e1e1e1;
	text-align: center;
	border-radius: 4px;
	margin-right: 36px;
	margin-bottom: 4px;
}
.area div.dht-btn{
	position: relative;
	height: auto;
	float: left;
	background: none;
}
.area div.dht-btn a{
	display: block;
	color: #fff;
	background: #3588cb;
	/*margin-bottom: 5px;*/
	/*margin-top: 5px;*/
	border-radius: 4px;
	font-size: 14px;
	transition: 0.2s;
}
/*.area div.dht-btn a:hover{
	border: 1px dashed #b9c7d4;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
}*/
.area div.dht-btn span{
	color:#aaa;
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
}
.area div.dht-btn span.fa-long-arrow-right{
	position: absolute;
	top: 0;
	right: -36px;
}
.area div.dht-btn span.fa-long-arrow-up{
	position: absolute;
	top: -36px;
	left: 50%;
	margin-left: -18px;
}
.area div.dht-btn span.fa-long-arrow-down{
	position: absolute;
	top: 36px;
	left: 50%;
	margin-left: -18px;
}
.area div.dht-btn span.fa-long-arrow-left{
	position: absolute;
	top: 0;
	left: -36px;
}
.btn-rotate{
	-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1)​;
}
.area div:last-child{
	margin-bottom: 0;
}
.arrow
{ 
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	position: absolute;
	right: 0;
	font-size: 20px;
	top: 0;
	color:#777;
}
